################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WorkflowConsole1/v15
/WorkflowConsole1/bin/Debug
/WorkflowConsole1/obj/Debug
